mixin conversationCard(conversation, index)
    .conversation(data-conversation-id=`${conversation.id}`, class=`${index===0?'selected':''}`) 
      img.conversation__img(src=`/img/${conversation.members[1].photo}` alt=`${conversation.members[1].name}`)
      span.conversation__name= conversation.members[1].name